.sidebar {
  height: calc(100vh - 64px);
  min-width: 350px;
  max-width: 500px;
  position: fixed;
  top: 64px;
  left: 0;
  overflow-x: hidden;
}

.add-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100px;
  transition: all 0.3s ease-in-out;
}

.add-menu:hover {
  filter: brightness(90%);
}

.fixed-height {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 64px);
}

.image-view {
  height: calc(100vh - 118px);
}

.bottom {
  bottom: 0px;
}

.sidebar {
  --nav-height: 64px;
 
  position: absolute;
  float: left;
  height: calc(100vh - var(--nav-height));
  width: 200px;
}