/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
  --primary-bg-color: #2C2F34;
  --secondary-bg-color: #B1B2B3;
  --third-bg-color: #43464A;
}

.bg-primary {
  background-color: var(--primary-bg-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-bg-color) !important;
}

.bg-third {
  background-color: var(--third-bg-color) !important;
}

.btn-primary {
  background-color: var(--third-bg-color) !important;
  border-color: var(--secondary-bg-color) !important;
}

.btn-secondary {
  background-color:  var(--primary-bg-color) !important;
}